body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    text-align: center;
    font-size: 1.5rem;
}

.calculadora {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    text-align: center;
}

.componente {
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.totais {
    text-align: center;
}

button {
    padding: 10px;
    background-color: rgb(68, 65, 65);
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(68, 65, 65);
}

button:hover {
    opacity: 0.9;
    transition: 0.3s;
}

footer {
    text-align: center;
}

.input-nao-preenchido {
    border: 1.5px solid red;
}

.validacao{
    color: red;
    font-size: 0.75rem;
    display: none;
}

.mostrar {
    display: block;
}

@media screen and (min-width:769px) {
    .dados {
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (min-width:1201px) {

    .componente {
        padding: 0 20px;
    }
}